<tui-root>
  <tui-scrollbar class="box">
    <h2 class="tui-text_h2">Meeting Agenda</h2>
    <form #meetingForm="ngForm">
      <div class="row">
        <div class="tui-container">
          <button
            tuiButton
            type="button"
            appearance="accent"
            class="tui-space_right-3 tui-space_bottom-3"
            icon="tuiIconDownloadLarge"
            (click)="generatePdf()"
          >
            Download as PDF</button
          ><br /><br /><br />
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <label tuiLabel label="Meeting / Project Name">
                <tui-input
                  tuiTextfieldSize="m"
                  tuiTextfieldLabelOutside="true"
                  [(ngModel)]="meetingAgenda.meetingName"
                  [ngModelOptions]="{ standalone: true }"
                >
                </tui-input>
              </label>
            </div>
            <div class="tui-form__multi-field">
              <label tuiLabel label="Date of Meeting">
                <tui-input-date>
                  <input
                    tuiTextfield
                    tuiTextfieldSize="m"
                    tuiTextfieldLabelOutside="true"
                    [(ngModel)]="meetingAgenda.dom"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </tui-input-date>
              </label>
            </div>
          </div>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <label tuiLabel label="Meeting Facilitator">
                <tui-input
                  tuiTextfieldSize="m"
                  tuiTextfieldLabelOutside="true"
                  [(ngModel)]="meetingAgenda.facilitator"
                  [ngModelOptions]="{ standalone: true }"
                >
                </tui-input>
              </label>
            </div>
            <div class="tui-form__multi-field">
              <label tuiLabel label="Time">
                <tui-input
                  [(ngModel)]="meetingAgenda.time"
                  [ngModelOptions]="{ standalone: true }"
                >
                </tui-input>
              </label>
            </div>
            <div class="tui-form__multi-field">
              <label tuiLabel label="Location">
                <tui-input
                  tuiTextfieldSize="m"
                  tuiTextfieldLabelOutside="true"
                  [(ngModel)]="meetingAgenda.location"
                  [ngModelOptions]="{ standalone: true }"
                >
                </tui-input>
              </label>
            </div>
          </div>
        </div>
        <div class="tui-container">
          <tui-accordion>
            <tui-accordion-item>
              <h4>1. Meeting Objective</h4>
              <ng-template tuiAccordionItemContent>
                <div class="tui-col-12">
                  <tui-text-area
                    [(ngModel)]="meetingAgenda.objective"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <span class="tui-required"></span>
                  </tui-text-area>
                  <tui-field-error></tui-field-error>
                </div>
              </ng-template>
            </tui-accordion-item>
          </tui-accordion>
        </div>
        <div class="tui-container">
          <tui-accordion>
            <tui-accordion-item>
              <h4>2. Attendees</h4>
              <ng-template tuiAccordionItemContent>
                <button
                  tuiIconButton
                  type="button"
                  class="tui-space_bottom-3"
                  icon="tuiIconPlusCircleLarge"
                  (click)="addNewRow('attendees')"
                ></button
                ><br />
                <table tuiTable [columns]="attendees_columns">
                  <thead tuiThead>
                    <tr tuiThGroup>
                      <th *tuiHead="'name'" tuiTh class="first" [sorter]="null">
                        Name
                      </th>
                      <th *tuiHead="'department'" tuiTh [sorter]="null">
                        Department / Division
                      </th>
                      <th *tuiHead="'mail'" tuiTh [sorter]="null">E-mail</th>
                      <th *tuiHead="'phone'" tuiTh [sorter]="null">Phone</th>
                      <th *tuiHead="'actions'" tuiTh [sorter]="null">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody tuiTbody>
                    <tr
                      tuiTr
                      *ngFor="
                        let attendees of meetingAgenda.attendees;
                        let i = index
                      "
                    >
                      <th *tuiCell="'name'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="name{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && name.invalid
                            }"
                            id="name"
                            [(ngModel)]="attendees.name"
                            #name="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'department'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="department{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && department.invalid
                            }"
                            id="department"
                            [(ngModel)]="attendees.department"
                            #department="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'mail'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="mail{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && mail.invalid
                            }"
                            id="mail"
                            [(ngModel)]="attendees.mail"
                            #mail="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'phone'" tuiTd>
                        <tui-input-number>
                          <input
                            tuiTextfield
                            name="phone{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && phone.invalid
                            }"
                            id="phone"
                            [(ngModel)]="attendees.phone"
                            #phone="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input-number>
                      </th>
                      <th *tuiCell="'actions'" tuiTd>
                        <tui-svg
                          src="tuiIconTrashLarge"
                          class="icon"
                          (click)="deleteRow(attendees, i)"
                        ></tui-svg>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </tui-accordion-item>
          </tui-accordion>
        </div>
        <div class="tui-container">
          <tui-accordion>
            <tui-accordion-item>
              <h4>3. Meeting Agenda</h4>
              <ng-template tuiAccordionItemContent>
                <button
                  tuiIconButton
                  type="button"
                  class="tui-space_bottom-3"
                  icon="tuiIconPlusCircleLarge"
                  (click)="addNewRow('agenda')"
                ></button
                ><br />
                <table tuiTable [columns]="agenda_columns">
                  <thead tuiThead>
                    <tr tuiThGroup>
                      <th *tuiHead="'topic'" tuiTh [sorter]="null">Topic</th>
                      <th *tuiHead="'owner'" tuiTh [sorter]="null">Owner</th>
                      <th *tuiHead="'time'" tuiTh [sorter]="null">Time</th>
                      <th *tuiHead="'actions'" tuiTh [sorter]="null">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody tuiTbody>
                    <tr
                      tuiTr
                      *ngFor="let agenda of meetingAgenda.agenda; let i = index"
                    >
                      <th *tuiCell="'topic'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="topic{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && topic.invalid
                            }"
                            id="topic"
                            [(ngModel)]="agenda.topic"
                            #topic="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'owner'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="owner{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && owner.invalid
                            }"
                            id="owner"
                            [(ngModel)]="agenda.owner"
                            #owner="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'time'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="time{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && time.invalid
                            }"
                            id="time"
                            [(ngModel)]="agenda.time"
                            #time="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'actions'" tuiTd>
                        <tui-svg
                          src="tuiIconTrashLarge"
                          class="icon"
                          (click)="deleteRow(agenda, i)"
                        ></tui-svg>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </tui-accordion-item>
          </tui-accordion>
        </div>
        <div class="tui-container">
          <tui-accordion>
            <tui-accordion-item>
              <h4>
                4. Preparation (documents/handouts to bring, reading material
                etc.)
              </h4>
              <ng-template tuiAccordionItemContent>
                <button
                  tuiIconButton
                  type="button"
                  class="tui-space_bottom-3"
                  icon="tuiIconPlusCircleLarge"
                  (click)="addNewRow('preparation')"
                ></button
                ><br />
                <table tuiTable [columns]="preparation_columns">
                  <thead tuiThead>
                    <tr tuiThGroup>
                      <th *tuiHead="'description'" tuiTh [sorter]="null">
                        Description
                      </th>
                      <th *tuiHead="'preparedBy'" tuiTh [sorter]="null">
                        Prepared By
                      </th>
                      <th *tuiHead="'actions'" tuiTh [sorter]="null">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody tuiTbody>
                    <tr
                      tuiTr
                      *ngFor="
                        let docs of meetingAgenda.documents;
                        let i = index
                      "
                    >
                      <th *tuiCell="'description'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="description{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && description.invalid
                            }"
                            id="description"
                            [(ngModel)]="docs.description"
                            #description="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'preparedBy'" tuiTd>
                        <tui-input>
                          <input
                            tuiTextfield
                            name="preparedBy{{ i }}"
                            [ngClass]="{
                              'is-invalid':
                                meetingForm.submitted && preparedBy.invalid
                            }"
                            id="preparedBy"
                            [(ngModel)]="docs.preparedBy"
                            #preparedBy="ngModel"
                            required
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </tui-input>
                      </th>
                      <th *tuiCell="'actions'" tuiTd>
                        <tui-svg
                          src="tuiIconTrashLarge"
                          class="icon"
                          (click)="deleteRow(docs, i)"
                        ></tui-svg>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </tui-accordion-item>
          </tui-accordion>
        </div>
      </div>
    </form>
  </tui-scrollbar>
  <div *ngIf="!isDelete">
    <button tuiButton type="button" size="m" (click)="showDialog(template)">
      Show
    </button>
    <ng-template #template let-observer>
      <p i18n>You can show a dialog with template</p>
      <p>2q Your balance:</p>
      <!-- <button tuiButton type="button" size="m" class="tui-space_right-3" (click)="withdraw()">
        Withdraw&nbsp;
      </button> -->
      <!-- <button tuiButton type="button" size="m" (click)="observer.complete()">
        Cancel
      </button> -->
    </ng-template>
  </div>
</tui-root>
