h2 {
  text-align: center;
}
.row > div {
  margin-top: 50px;
}
.objective-title {
  margin-right: 1.5rem;
  flex-grow: 1;
}
table {
  width: 100%;
}
button {
  float: right;
}
.box {
  height: 100%;
}
h4 {
  color: #ff7043;
}
